* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    background-color: #ffffff;
    color: #000;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.logo {
    font-family: 'Pacifico', cursive;
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    gap: 40px;
}

.text-content {
    flex: 1;
}

.text-content h1 {
        font-family: 'Poppins', sans-serif;
    font-weight: 780;        
    font-size: 50px;
    color: #111827;           
    margin-top: -60px;
    margin-bottom: 30px;
}

.text-content p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #444;
    line-height: 1.8; 
    font-weight: px;
}

.search-bar {
    display: flex;
    width: 100%;
    max-width: 550px;
}

.search-bar input {
    flex: 1;
    padding: 18px;
    border: 1px solid #ccc;
    border-radius: 8px 0 0 8px;
    font-size: 15px;
}

.search-bar button {
    padding: 12px 20px;
    background-color: #4b3ed4;
    color: #fff;
    border-radius: 0 4px 4px 0;
    border: none;
}

.image img {
    width: 500px;
    max-width: 100%;
}
